.second{
    font-display: Arial;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding-left: 250%;
    color: black;
}
.first{
    font-size: 200%;
    padding-left: 250%;

}